{% extends "inicio/encabezado.html" %}
{% block titulo%}Acustica{%endblock%}

{% block header%}

<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide mt-5" data-ride="carousel">
  

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/VL90H6k/maxresdefault.jpg"  width="1600px" height="640px" class="d-block w-100"
          alt="Un desarrollo de aplicaciones de escritorio ayuda mucho para tu empresa">
       
      </div>
      
    </div>
  </div>
  <!-- Slider -->
{%endblock%}
{% block contenido%}
<div class="container">
<p class="mt-5"><b>Nombre</b></p>
<p>Guitarra Acústica</p>
<p class="mt-5"><b>Descripción General</b></p>
<p>La guitarra acústica se caracteriza básicamente por ser un instrumento 
    de caja hueca encordada con cuerdas metálicas que consiguen unos sonidos metálicos, muy 
    ricos en armónicos y muy utilizados sobre todo en música americana, estos sonidos pueden 
    encasillarse a camino entre una guitarra española y una eléctrica si se le quiere buscar 
    relación con el resto. </p>
<p class="mt-5"><b>Foto</b></p>


<center><img src="https://i.ibb.co/w7gZjLX/uruapan-guitarras-paracho.jpg"   width="280" height="180" alt=""></center>
<p class="mt-5"><b>Municipio de origen</b></p>
<p>Uruapan</p>
<p class="mt-5" ><b>Costo</b></p>
<p>$3.064.89</p>


</div>
     

{%endblock%}