{% extends "inicio/encabezado.html" %}
{% block titulo%}Nosotros{%endblock%}


{% block header%}

<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide mt-5" data-ride="carousel">
  

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/wSYjSM4/Artesan-a.jpg"  width="1600px" height="640px" class="d-block w-100"
          alt="Un desarrollo de aplicaciones de escritorio ayuda mucho para tu empresa">
       
      </div>
      
    </div>
  </div>
  <!-- Slider -->
{%endblock%}


{% block contenido%}

<h5 class="container mt-4" style="text-align: center;">¿Quiénes somos?</h5>
<p  class="container" style="text-align: justify;">Nosotros somos una empresa que brinda los mejores productos en cuento artesanías se refiere, desde Jarras, vasos, platos, catrinas, bolsos, suéter de lana, barro rojo, lana, carrizo, entre otros.</p>
<div class="container" style="display:flex;">
    <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/kKLv5G9/juanito.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Juan Manuel</h5>
              <p class="card-text">Hola me llamo Juan,  soy desarrollador     Back - End del sitio  web de artesanías.
                </p>
            </div>
          </div>

        </div>
      </div>
      <div class="card mb-3" style="max-width: 500px; float: left; margin-left: 150px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/dMwmBKt/avi.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">José Avimelec</h5>
              <p class="card-text">Hola me llamo José,  soy desarrollador  Front - End del  sitio web de artesanías.
                </p>
            </div>
          </div>

        </div>
      </div>


</div>
<div class="container" style="display:flex;">
    <div class="card mb-3" style="max-width: 482px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/tZLt2RM/pp.jpg"  class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Edgar Acosta</h5>
              <p class="card-text">Hola me llamo Edgar, soy desarrollador Front- End del sitio web de artesanías. </p>
            </div>
          </div>

        </div>
      </div>
      <div class="card mb-3" style="max-width: 500px; float: left; margin-left: 150px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/fYr8RqB/Captura.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Abraham Vieyra</h5>
              <p class="card-text">Hola me llamo  Abraham,  soy desarrollador  Back End del sitio web de artesanías.
                </p>
            </div>
          </div>

        </div>
      </div>


</div>
{% endblock %}