{% extends "inicio/encabezado.html" %}
{% block titulo%}Uruapan{%endblock%}

{% block header%}

<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide mt-5" data-ride="carousel">
  

    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for banner in banners %}
        <img src="{{banner.imagen.url}}"  width="1600px" height="640px" class="d-block w-100">
       {% endfor %}
      </div>
      
    </div>
  </div>
  <!-- Slider -->
{%endblock%}
{% block contenido%}
<h2 class="display-4 text-center mt-5">Uruapan</h2>
<p class="lead text-center my-5 text-dark container">Oficialmente Uruapan del Progreso y reconocida como la Capital Mundial del Aguacate, es la segunda ciudad más importante y poblada del estado de Michoacán y la cabecera del municipio homónimo.
</p>
<div class="py-5 centrarmunicipios">
    <div>
        <div class="card ml-5 mr-5" style="width: 15rem;"> 
        <a href="{%url 'Acustica'%}">
          {% for artesania in artesania %}
            <img src="{{artesania.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
          </a>
      
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 23px;">{{artesania.nombre}}</p>
    {% endfor %}
      </div>
    <div >
        <div class="card ml-5 mr-5" style="width: 15rem;"> 
        <a href="{%url 'Mascara'%}">
          {% for artesaniados in artesaniados %}
            <img src="{{artesaniados.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
          
          </a>
        
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 23px;">{{artesaniados.nombre}}</p>
    {% endfor %}
      </div>
      <div >
        <div class="card ml-5 mr-5" style="width: 15rem;"> 
        <a href="{%url 'Jarrones'%}">
          {% for artesaniatres in artesaniatres %}
            <img src="{{artesaniatres.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
          </a>
         
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 23px;">{{artesaniatres.nombre}}</p>
    {% endfor %}
      </div>
     
     
</div>


<div class="py-5 centrarmunicipios">
    <div >
        <div class="card ml-5 mr-5" style="width: 15rem;"> 
        <a href="{%url 'Rebozos'%}">
          {% for artesaniacuatro in artesaniacuatro %}
            <img src="{{artesaniacuatro.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
        </a>
        
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 23px;">{{artesaniacuatro.nombre}}</p>
    {% endfor %}
      </div>
    <div >
        <div class="card ml-5 mr-5" style="width: 15rem;">
          {% for artesaniacinco in artesaniacinco %} 
        <a href="{%url 'Gabanes'%}">
            <img src="{{artesaniacinco.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
        </a>
       
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 20px;">{{artesaniacinco.nombre}}</p>
    {% endfor %}
      </div>
      <div >
        <div class="card ml-5 mr-5" style="width: 15rem;"> 
        <a href="{%url 'Manteles'%}">
          {% for artesaniaseis in artesaniaseis %}
            <img src="{{artesaniaseis.imagen.url}}" style="height: 200px;" class="card-img-top" alt="...">
        </a>
     
    </div>
    <p class="centrarmunicipiostexto" style="text-align: center; font-size: 23px;">{{artesaniaseis.nombre}}</p>
    {% endfor %}
      </div>
      
     
</div>

    
     

{%endblock%}